* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  height: 100vh;
  display: flex;
  
  justify-content: center;
  text-align: left;
  
}

form {
  display: block;
  position: relative;
  
}

.form-group {
  width: 150px;
  margin-bottom: 10px;
}
#title{
  margin-bottom: 27px;
}
